* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: url('img/background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-wrap: wrap;  /* Permite que os elementos se ajustem em telas menores */
  width: 90%;  /* Largura adaptável */
  max-width: 900px;
  height: 600px;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.event-container {
  display: flex;
  flex-wrap: wrap;  /* Permite que os elementos se ajustem em telas menores */
  width: 90%;  /* Largura adaptável */
  max-width: 900px;
  /*height: 600px;*/
  max-height: 900px;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}



.image-section {
  flex: 1;
  background: url('img/background.png') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

.text-overlay {
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 2;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/*======================================================================
Links
======================================================================*/
p a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

p a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*======================================================================
Forms
======================================================================*/
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-size: 15px;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

form input::placeholder {
  font-size: 15px;
  color: #aaa;
}

.form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000;
  position: relative;
}

.form-content {
  width: 100%;
  max-width: 400px;
  color: #fff;
}

.form-content .logo img {
  display: block;
  margin: 0 auto 20px;
}

/*=====================================================================
Botão Entrar/Cadastrar
======================================================================*/
button {
  padding: 10px;
  background: linear-gradient(to right, #04D2D3, #7e5ac8); 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease; 
}

button::before, button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
}

button::before {
  background: linear-gradient(to right, #7e5ac8, #04D2D3);
  transform: translateX(-100%); 
}

button:hover::before {
  transform: translateX(0); 
}

button:hover::after {
  transform: translateX(0); 
}

button:hover {
  color: black; 
}

/*======================================================================
Botão X
======================================================================*/
.close-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  cursor: pointer;
  z-index: 10;
}

.close-button i {
  color: #ffff; 
  font-size: 30px; 
}

.close-button:hover i {
  opacity: 0.8;
}

/*======================================================================
Icones nos campos
======================================================================*/
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  width: 100%;
  font-size: 15px;
}

.input-container .icon-right {
  position: absolute;
  right: 10px;
  top: 22px;
  color: #aaa;
  font-size: 18px;
  pointer-events: none;
}

input::placeholder {
  font-size: 15px;
  color: #aaa;
}

/*======================================================================
Responsive Layouts
======================================================================*/
@media (max-width: 768px) {
  .login-container {
      flex-direction: column; /* Empilha as seções de imagem e formulário */
      height: auto;  /* Ajusta a altura do container */
  }

  .image-section {
      display: none;
  }

  .form-section {
      flex: 1;
      padding: 30px;
  }

  .form-content {
      max-width: 100%;
  }

  h2 {
      font-size: 30px;  /* Reduz o tamanho da fonte */
  }

  p {
      font-size: 12px;  /* Aumenta um pouco o tamanho da fonte em telas pequenas */
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 24px;  /* Fontes menores para telas muito pequenas */
  }

  .input-container input {
      font-size: 14px;  /* Tamanho de fonte menor para campos de entrada */
  }

  button {
      padding: 8px;
  }
  
}

/*======================================================================
Navbar
======================================================================*/
.navbar {
  background-color: #111 !important;
  padding: 15px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff !important;
  font-size: 24px;
  display: flex;
}

.navbar-brand .brand-logo {
  width: 30px; 
  height: auto; 
  margin-left: 10px; 
}

.navbar-nav .nav-link.active {
  color: #fff;
}

.nav-item .bi-person-circle {
  font-size: 24px; /* Aumenta o tamanho do ícone */
  color: #aaa; /* Define a cor como #aaa */
}

.nav-item .bi-person-circle:hover {
  font-size: 25px; 
  color: #fff; 
}

.nav-item .bi-wallet2 {
  font-size: 24px; /* Tamanho do ícone */
  color: #aaa; /* Cor do ícone */
  margin-right: 4px; /* Margem à direita para espaçamento do texto */
}

.nav-item .saldo-conta {
  font-size: 16px; /* Tamanho do texto */
  color: #aaa; /* Cor do saldo (ajuste conforme o design da navbar) */
  font-weight: bold; /* Negrito para destacar o saldo */
  margin-right: 16px;
}

.nav-item a {
  text-decoration: none; /* Remove o sublinhado */
  color: #aaa; /* Define a cor dos links */
}

.nav-item a:hover {
  color: #fff; /* Cor ao passar o mouse */
}


/*======================================================================
Hero 
======================================================================*/
.hero-section {
  background-color: transparent;
  color: #fff;
  padding: 100px 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  height: 100vh;           
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.partner-text {
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-danger {
  background-color: #333;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.btn-danger:hover {
  background-color: #aaa;
}






.available-events {
  margin-top: 40px;
}

.event-card {
  margin-bottom: 20px;
}

.card {
  background-color: #333;
  border: none;
  color: #fff;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #bbb;
}



.modal-content {
  background-color: #1a1a1a; /* Cor de fundo escura */
  border-radius: 12px; /* Bordas arredondadas */
  border: none; /* Sem borda */
  color: #fff; /* Texto branco */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
}

.input-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa; /* Cor do ícone dentro do campo */
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #444; /* Borda escura */
  border-radius: 8px; /* Bordas arredondadas */
  background-color: #2c2c2c; /* Fundo escuro */
  color: #ddd; /* Texto claro */
}

/* Estilo ao focar no campo de entrada */
.input-container input:focus,
.input-container select:focus {
  outline: none;
  border-color: #00aaff; /* Destaque azul ao focar */
  background-color: #2c2c2c; /* Manter o fundo escuro ao focar */
  color: #ddd; /* Manter a cor clara do texto ao focar */
  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5); /* Sombra azul ao focar */
}

.input-container i {
  position: absolute;
  right: 10px; /* Alinhado à direita do campo */
  top: 50%;
  
  color: #aaa; /* Cor do ícone */
  font-size: 18px; /* Tamanho do ícone */
}

.input-container input::placeholder {
  color: #aaa; /* Cor clara para o placeholder */
}

.available-events {
  display: flex;
  flex-direction: column; /* Alinha os elementos na vertical */
  align-items: center; /* Centraliza os itens no centro */
}


.available-events .populares,
.available-events .vencimento {
  margin-top: 10px; /* Espaçamento entre o título e os cards */
}

.available-events h2 {
  display: block; /* Garante que o elemento ocupe toda a linha */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 10px; /* Espaçamento entre os títulos */
}



.populares, .vencimento {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards fiquem responsivos */
  gap: 20px; /* Espaçamento entre os cards */
  justify-content: center; /* Centraliza os cards */
}


/* Container principal */
.user-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(#111); 
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 1200px; /* Limita o tamanho em telas grandes */
  margin: 0 auto; /* Centraliza na tela */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Adiciona profundidade */
}

.user-container p{
  color: #aaa;
}

.user-container h2{
  color:#aaa;
}

.container {
  background-color: #111; /* Fundo preto */
  width: 80%; /* Aumentar largura */
  min-height: 500px; /* Aumentar altura */
  margin: 50px auto; /* Centralizar */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

/* Informações do usuário */
.user-info,
.transaction-history {
  flex: 1;
  color: var(--default-color);
}

/* Cabeçalhos */
.user-info h2,
.transaction-history h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Textos */
.user-info p,
.transaction-history p {
  font-size: 20px;
  margin-bottom: 12px;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
  .user-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}

.scrollable {
  max-height: 300px; /* Define altura fixa da parte scrollável */
  overflow-y: auto; /* Ativa a rolagem vertical */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borda para destacar */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05); /* Fundo levemente destacado */
  border-radius: 5px;
}

/* Estilo para barra de rolagem */
.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}










